// _base.scss
@import 'variables';

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: $base-font-size $body-font;
  line-height: $base-line-height;
  color: $text-dark;
  background: linear-gradient(to bottom, $light-teal 0%, $sand 100%);
}

p {
  margin-top: 0;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $dark-teal;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: $medium-teal;

  &:visited { color: darken($medium-teal, 10%); }
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: lighten($dark-teal, 10%);
  }
}
