// _sidebar.scss
@import 'variables';

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  background: linear-gradient(to bottom, $sand 0%, $light-teal 100%);
  padding: 1rem;
  font: 0.9em $monospace-font;
  color: $dark-teal;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0.5rem;
      a {
        color: $dark-teal;
        &:hover { color: $medium-teal; }
      }
    }
  }
}
