// _variables.scss
$dark-teal: #11404d;
$medium-teal: #6cb4b8;
$light-teal: #eef5f6;
$sand: #f7f3e9;
$text-dark: #1b2b2f;
$text-light: #f4f9fa;

$monospace-font: 'Menlo', monospace;
$body-font: 'Roboto', sans-serif;
$heading-font: 'Merriweather', serif;

$base-line-height: 1.8;
$base-font-size: 75%;
