---
title: false
styles: true
---
// Background colors
$backgroundColour: #f7f1db !default;              // Ivory
$codeBackgroundColour: #afccc0 !default;           // Light Teal
$featureBackgroundColour: #6cb4b8 !default;        // Soft Teal
$accentColour: #f36f50 !default;                   // Vivid Coral

// Text colors
$headingColour: #11404d !default;                  // Deep Teal
$bodyColour: #384743 !default;                     // Similar to Deep Teal but slightly adjusted for readability
$linkColour: #44a4af !default;                     // Medium Teal
$hoverColour: #f87d62 !default;                    // Coral
$focusColour: #aa4d3a !default;                    // Rust
$captionColour: #afccc0 !default;                  // Light Teal (for captions, use soft or muted color)
$white: #ffffff !default;                          // White

@import "alembic";